<% include partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Edit
                <%=pokemon.name%>
            </h1>
            <div style="width:30%;margin-top:0;margin-left:auto;margin-right:auto">
                <form action="/pokemon/<%=pokemon._id%>?_method=PUT" method="POST" class="form-horizontal">
                    <div class="form-group"><label for="name">POKEMON</label><input type="text" name="pok[name]" value="<%=pokemon.name%>" class="form-control"></div>
                    <div class="form-group"><label for="url">IMG</label> <input type="text" name="pok[img]" value="<%=pokemon.img%>" class="form-control"></div>
                    <div class="form-group"><label for="desc">DESCRIPTION</label><input type="text" name="pok[description]" value="<%=pokemon.description%>" class="form-control"></div>
                    <div class="form-group"><input type="submit" value="Add POKEMON" class="btn btn-primary btn-block">
                    </div>
                </form>
                <a href="/pokemon">Go Back</a>
            </div>

        </div>
    </div>
    <% include partials/footer %>